firstflow/src/main/mule/firstmuleflow-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="process-order-flow" doc:id="e95c3318-aa2f-4c45-9c12-72f3f00fe455">
		<try doc:name="Try" doc:id="35581603-f58b-4493-a2df-5714a2053ba0">
			<choice doc:name="Choice" doc:id="76431742-fb8b-4aea-9c4f-8cb19ded4b05">
				<when expression="#[payload.amount &gt; 0]">
					<ee:transform doc:name="Transform Message" doc:id="342de2e6-4cf6-459a-b412-87cbd352c8bc">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    orderId: uuid(),
    customer: payload.customer,
    amount: payload.amount,
    status: "VALID"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<choice doc:name="Choice" doc:id="7f177a2d-3f7a-4907-ac4d-68dba43038c0">
						<when expression="#[payload.amount &gt; 500]">
							<set-variable value="HIGH" doc:name="Set Variable" doc:id="b410a57d-338f-439b-9495-fb1d77372035" variableName="priority" />
						</when>
						<otherwise>
							<set-variable value="NORMAL" doc:name="Set Variable" doc:id="c7a4da4b-a7da-48c6-b195-1c5d70c3a9d7" variableName="priority" />
						</otherwise>
					</choice>
					<http:request doc:name="Request" doc:id="3987207b-9071-4016-822a-8f19d630edb7" method="POST" path="/external-system" config-ref="http-request-config1" />
				</when>
			</choice>
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e0601cc5-b768-4241-8412-b22f18fe165e">
					<ee:transform doc:name="Transform Message" doc:id="615514fc-4504-4541-8bac-55c0d545dce1">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Invalid Order"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="edb2b10a-d082-480e-a05e-6818db98f4e9">
				<ee:transform doc:name="Transform Message" doc:id="66c18302-67fd-4baf-96e0-4979ebd4c0ef">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Invalid Order"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
